#about {
    height: 100vh;
    padding: 10px;
    background: rgb(0, 3, 41);
    color: rgb(255,255,255);
    animation-name: opacityChange;
    animation-duration: 2s;
    text-align: center;
}
#root{
    background: rgb(0, 3, 41);
}


@keyframes opacityChange{
    from {opacity: 0%;}
    to {opacity: 100%;}
}