#about {
    background: rgb(0, 3, 41);
    color: rgb(255,255,255);
    animation-name: opacityChange;
    animation-duration: 2s;
    text-align: center;
}
#root{
    background: #000329;
}
#aboutTitle {
    margin: 0%;
}
#tit {
    margin: 0%;
    margin-bottom: -1%;
    padding: 5%;
}
#desc-container {
    background-color:#0f124a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;

    border-top: 5px white solid;
    border-bottom: 5px white solid;
}
#desc {
    font-size: 2.5vh;
}
#aboutParagraph {
    padding: 20px;
}
#myPic {
    border-style: solid;
    border-width: 2px;
    border-color: #030C9A;
    border-radius: 5px;
    border-spacing: 5px;
    padding: 10px;
}
#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
#skills {
    background-color: #000329;
    padding: 10px;
    display: block;
}
.skillHolder {
    background-image: radial-gradient(circle, white, #c2c2c9, #000542);
    height: 200px;
    width: 400px;
    display: block;
    overflow: hidden;
    border: 5px #34c3eb solid;
    border-radius: 5px;
    transition: all 0.5s;

    box-shadow:  13px 13px 26px #000110,
                -13px -13px 26px #000542;
}
#skillHead {
    height: 80%;
    border-color: #34c3eb;
    border-width: 5px;
    border-radius: 5px;
    padding: 5px;
}
#skillImageHolder {
    height: 110px;
}
#skillImage {
    height: 100%;
    width: auto;
}
#arrowContainer {
    height: 20%;
    padding: 5px;
    background-color: #34c3eb;
    cursor: pointer;
    user-select: none;

    border: #34c3eb 2px;
    border-radius: 5px;

}
#down {
    width: 25%;
    height: 25%;
    transition: all 0.5s;
}
.hiddenDiv {
    background-color: #4c53b9;
    height: 0%;
    width: 100%;
    padding: 5px;
    transition: all 0.5s;
    overflow: hidden;
    
}
ul  {
    text-align: left;
    list-style-position: inside;
}
li {
    text-align: left;
}

#experience {
    background-color:rgb(1, 4, 54);
    padding: 10px;
}
#soft {
    color: black;
    font-size: 3vh;
}
.expImage {
    height: 100px;
    width: auto;
    transition: all 0.75s;
    cursor: pointer;
}
.expImage:hover {
    height: 150px;
}
@keyframes opacityChange{
    from {opacity: 0%;}
    to {opacity: 100%;}
}
@keyframes move {
    from {transform: translate(-100px);}
    to {transform: translate(0px);}
}