html{
    background: rgb(0, 3, 41);
}
#project {
    height: 100vh;
    background: rgb(0, 3, 41);
    color: rgb(255,255,255);
    animation-name: opacityChange;
    animation-duration: 2s;
    padding: 10px;
    text-align: center;
}
#root {
    background: rgb(0, 3, 41);
}
#wallet {
    display: grid;
    padding: 50px;
    row-gap: 50px;
    column-gap: 50px;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 5%;
    margin-right: 5%;

    background: rgb(47, 36, 149);
    border: 5px;
    border-color: #1BA6E4;
    border-style: outset;
    width: 90%;

    animation-name: colorChangeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}
#card1 {
    grid-row-start: 1;
}
#card2 {
    grid-row-start: 2;
}
#card3 {
    grid-row-start: 3;
}
.head {
    padding: 10px;
    width: 75%;
}
.butt {
    height: 100%;
    width: 25%;
    background-color: rgb(67, 101, 135);
    opacity: 50%;
    
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.butt:hover {
    animation-name: colorChangeButton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.card:hover {
    animation-name: colorChange;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes opacityChange{
    from {opacity: 0%;}
    to {opacity: 100%;}
}
@keyframes colorChange{
    from {background-color: rgb(47, 36, 149)}
    to {background-color: rgb(130, 10, 240);}
}
@keyframes colorChangeOut{
    from {background-color: rgb(130, 10, 240)}
    to {background-color: rgb(47, 36, 149);}
}
@keyframes colorChangeButton{
    from {background-color: rgb(67, 101, 135)}
    to {background-color: #B500FF;}

    from {opacity: 50%;}
    to {opacity: 100%;}
}
.arrow {
    height: 25%;
    width: 75%;
   
}
img {  
    width: 20%;

}
