#project {
    height: 100vh;
    padding: 10px;
    background: rgb(0, 3, 41);
    color: rgb(255,255,255);
    animation-name: colorChange;
    animation-duration: 2s;
}
#root {
    background: rgb(0, 3, 41);
}


@keyframes colorChange{
    from {opacity: 0%;}
    to {opacity: 100%;}
}